// Primary
$primarycolor: hsl(172, 67%, 45%);

// Neutral

$primarycolor__dark: hsl(183, 100%, 15%);
$primarycolor__dark-gray1: hsl(186, 14%, 43%);
$primarycolor__dark-gray2: hsl(184, 14%, 56%);
$primarycolor__light-gray1: hsl(185, 41%, 84%);
$primarycolor__light-gray2: hsl(189, 41%, 97%);
$White: hsl(0, 0%, 100%);
$errorcolor: rgba(231, 53, 8, 0.904);
