@use "../abstracts/colors";
@use "fonts";

*,
*::after,
*::before {
	font-family: "Space Mono", sans-serif;
	box-sizing: border-box;
}
body {
	margin: 0;
	position: relative;
	font-size: fonts.$bodyfontsize;
}
img {
	max-width: 100%;
	display: block;
}
main {
	min-height: 100vh;
	background-color: colors.$primarycolor__light-gray1;

	@media screen and (min-width: 700px) {
		display: grid;
		place-items: center;
	}
}
.visually-hidden {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type="number"] {
	-moz-appearance: textfield;
}
