.container {
	max-width: 1000px;
	// margin: auto;
	@media screen and (min-width: 700px) {
		width: 95%;
	}
}
.row {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 1em;
	@media screen and (min-width: 700px) {
		grid-template-columns: repeat(3, 1fr);
	}
}
.col + .col {
	margin-top: 1.5em;
}
.flex__col {
	display: flex;
	flex-direction: column;
}
.flex__row {
	display: flex;
	justify-content: space-between;
}
