@use "../abstracts/fonts";
@use "../abstracts/colors" as *;
input[type="number"] {
	width: 100%;
	font-size: fonts.$inputfontsize;
	border: none;
	background-color: $primarycolor__light-gray2;
	border-radius: 5px;
	padding-inline: 1rem;
	padding-block: 0.2rem;
	color: $primarycolor__dark;
	font-weight: 700;
	text-align: end;
	position: relative;
	display: block;
}
.wrapper__people,
.wrapper__bill {
	position: relative;
}
.wrapper__people::before,
.wrapper__bill::before {
	content: "";
	position: absolute;
	width: 3em;
	height: 100%;

	background-repeat: no-repeat;
	background-position: center;
	z-index: 2;
}
.wrapper__people::before {
	background-image: url("/images/icon-person.svg");
}
.wrapper__bill::before {
	background-image: url("/images/icon-dollar.svg");
}
