.logo__wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 20vh;

	@media screen and (min-width: 700px) {
		min-height: 15vh;
		& .logo {
			align-self: flex-start;
		}
	}
}
