.header {
  text-align: center;
}
.header__title {
  margin-top: 1em;
  font-weight: 700;
}
.header__text {
  font-weight: 500;
  color: var(--medium-gray);
  /* margin-inline: 0.5em; */
  line-height: 1.35;
  margin-inline: 0.25em;
}
.btn__header {
  padding: 0.75em 1.25em;
  border: none;
  border-radius: 10px;
  background-color: var(--almost-black);
  color: var(--almost-white);
  font-weight: 700;
  font-size: 18px;
  cursor: pointer;
}
.btn__header:hover,
.btn__header:focus {
  background-color: transparent;
  color: var(--almost-black);
  outline: 2px solid var(--almost-black);
}
.textcontent__image_container {
  margin-top: 2em;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 1em;
  padding-bottom: 2em;
}
.image__container {
  width: 90%;
  max-width: 1440px;
  margin-inline: auto;
}
.textcontent__image_container > img {
  width: 20%;
  height: auto;
}
@media (min-width: 35em) {
  .header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 90%;
    max-width: 1200px;
    margin-inline: auto;
    text-align: left;
    gap: 6em;
    align-items: center;
  }

  .header__text_content {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    align-items: center;
    justify-content: center;
    gap: 3em;
  }
  .header__image_container {
    grid-column-start: 2;
    grid-row-start: 1;
  }

  .header__title {
    font-size: clamp(2rem, calc(2rem + 3.5vw), 5.5rem);
    margin: 0;
    align-self: flex-end;
    flex-grow: 2;
    display: flex;
    /* place-items: end; */
    align-items: flex-end;
  }
  .header__text {
    margin: 0;
    margin-inline-end: 20%;
  }
  .btn__header {
    align-self: start;
  }
  .image__container {
    flex-grow: 1;
    display: flex;
    align-items: flex-end;
    width: 100%;
  }
  .textcontent__image_container {
    margin: 0;
    padding: 0;
    flex-grow: 1;
  }
}
